/* media especififaction and font */
* {
    font-family: 'et-line', sans-serif;
}

i.font_icons {
    font-family: icomoon;
}

i.font_icons_base {
    font-family: et-line;
}
/* to refresh the navigation bar using javascript */
body {
    position: relative;
}


/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 576px) { 
    .carousel_tittle {
        
        font-size: 0.9rem !important;
        top: 16% !important ;
        left: 5% !important;
        right: 5% !important;
        text-align: left !important;
    }
    .carousel_tittle > p {
        padding: 2% 0% !important;
    }
    .carousel-inner .btn2 {
        display: none;
    }
    /* .w-100 {
        width: 70rem !important;
    } */
    #navigation-bar {
        padding: 0% 0% !important;
    }
    .navbar{
        padding: 0% !important;
    }
    .general_padding {
        /* is being used in services, team, about, portfolio  */
        padding: 20% 0% !important;
    }
    .row .team_gallery_item{
        padding-bottom: 5% !important;
    }
    .portfolio_gallery_item {
        padding-bottom: 3% !important;
    }
    #testimonial .carousel-indicators {
        top: 16rem !important;
    }
    #blog .card-body{
        padding: 2.6rem !important;
    }
    .pc_testimonial {
        display: none !important;
    }
    .mobile_testimonial {
        display: flex !important;
        visibility: visible !important;
    }
    .specific_padding {
        /* is being used in testimonial */
        margin-bottom: 15% !important;
    }

}

/* X-mid devices (tablet, less than 767px) */
@media (min-width: 576.01px) and (max-width: 768px) {
    .carousel_tittle {
        top: 30% !important ;
        font-size: 1rem !important;
    }
    .carousel_tittle > p {
        padding: 2% 0% !important;
    }
    .testimonial_text {
        font-size: 1rem !important;
    }
    #testimonial .carousel-indicators {
        top: 20rem !important;
    }
    .specific_padding {
        /* is being used in testimonial */
        margin-bottom: 15% !important;
    }
    
}

/* .testimonial_text {
    vertical-align: top;   
    text-align: left;
    font-size: 0.9rem;
    padding: 2% 0 0 2% !important;
} */

/* General Clases */

.general_padding {
    /* is being used in services, team, about, portfolio, blog, questions, testimonial  */
    padding: 10% 10% 10% 10%;

}
.global_description {
    /* is being used in team, portfolio, blog, contact, questions, testimonial  */
    text-align: center;
}
    
.global_description > p {
    padding-bottom: 3rem;
    color: rgba(0, 0, 0, 0.70);
}

.specific_padding {
    /* is being used in testimonial */
    margin-bottom: 5%;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' %3e%3cpath stroke='rgba(125, 196, 148, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important; 
}

.navbar-light .navbar-toggler {
    color:  rgb(125, 196, 148) !important;
    border-color: rgba(0,0,0,0) !important;
}



/* home and carousel Section */

.carousel_tittle {
    font-size: 1.3rem;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 36%;
    left: 40%;
    translate: middle;
}

.carousel_tittle > p {
    padding: 2% 13%;
    font-size: 0.95rem;
    color: rgba(255, 255, 255, 0.85);
}

.carousel-inner {
    text-align: center;
    vertical-align: middle;
}

.home_button_ubication {
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    margin: auto;
}

.home_button {
    background: transparent;
    border: 2px solid white;
    border-radius: 3px;
    padding: 1% 4%;
    margin: 5px;
    font-size: 1rem;
    text-decoration: none;
    color: white;
}

/* hover color change animation */
@keyframes fadeoutBg {
    from { background-color: rgba(255,255,255,0.8);
            border-color: rgba(255,255,255,0.8);
            color: rgba(86, 198, 176,0.8); } /** from color **/
    to { background-color: rgba(86, 198, 176,0.8);
        border-color: rgba(86, 198, 176,0.8);
        color: white;} /** to color **/
}

/* active color change animation */
@keyframes fadeoutBg2 {
    from { background-color: rgba(246, 162, 7, 0.8);
           border-color: rgba(156, 102, 0, 1);
           color: white;} /** from color **/
    to { background-color: rgba(246, 162, 7, 0.8);
        border-color: rgba(156, 102, 0, 1);
        color: white;} /** to color **/
}

.home_button:hover {
    animation: fadeoutBg 3s;
}

.home_button:active {
    animation: fadeoutBg2 2s;
}

/* trying to leave the orange background, after or visited clicking */
.home_button:focus {
    background-color: rgba(246, 162, 7, 0.8);
    border-color: rgba(246, 162, 7, 0.8); 
    color: white;
}



/* Navbar Section */

.nav-item {
    font-size: 0.8rem;
    font-weight: bolder;
    text-align: center;
}

.navbar{
    width: 100%;
}

/* Instruction to change the color when we scroll*/
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: rgb(125, 196, 148) !important;
}

#navigation-bar {
    width: 100%;
    position: sticky;
    top: 0;
    padding: 0% 10% 0% 10%;
    z-index: 101;
    box-shadow: 0 0px 2px 0px rgba(0, 0, 0, 0.15);
    shape-margin: 100%;
    background-color: white;
}

.container-fluid a:hover,
.container-fluid a:active {
    color: rgb(125, 196, 148) !important;
}



/* Services Section */

.services_articles i {
    font-size: 2rem;
}

.service_logo {
    display: inline-block;
    vertical-align: top;
}

.services_articles_text {
    display: inline-block;
    vertical-align: top;
}

.services_articles_text p {
    margin-top: 1rem;
    color: rgba(0, 0, 0, 0.70);
}

.services_articles_text b {
    color: rgb(125, 196, 148);
}

.service_logo img {
    width: 100%;
    vertical-align: top;
    background: transparent;
}



/* About Section */

.about_video {
    background-size: center/cover;
    min-width: 144px;
}

.jumbotron {
    z-index: 1;
    width: 100%;
    height: 100%;
    shape-margin: 100%;
}

.about_text > p {
    padding: 1rem 1rem 0 0;
    color: rgba(0, 0, 0, 0.70);
}



/* Team Section */

#team .card {
    border: none;
}

.row .team_gallery_item {
    background: center/cover;
    background-color: white;
}

.team_gallery_text {
    padding-top: 5%;
    text-align: center;
}  

.team_gallery_text p {
    color: rgba(0, 0, 0, 0.70);
}  

.team_gallery_item .overlay {
    position: absolute; 
    bottom: 20%; 
    background: rgb(0, 0, 0);
    background: rgba(255, 255, 255, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: black;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }
  
.plus:hover .overlay {
    opacity: 1;
    transition-delay: 0.33s;
}

.team_logo i{
    display: inline-block;
    text-align: center;
    font-size: 2rem;
    margin: auto;
}



/* Portfolio Section */

.portfolio_gallery .row{
    padding: 1.3rem 0;
}

.portfolio_gallery_item{
    padding: 1% 0;
}

.portfolio_gallery_text {
    padding: 0;
    vertical-align: middle;
    text-align: center;
}

/* icon cards */
.portfolio_gallery_text i{
    font-size: 1rem;
    color: rgba(86, 198, 176,1);
    margin: auto;
    z-index: 2;
    vertical-align: bottom;
    text-align: center;
    transform: rotate(90deg);
}

.gallery_circle_container{
    height: 30%;
}

.gallery_icon_container{
    visibility: hidden;
    margin: auto;
    width: 2rem;
    height: 2rem;
    background: rgba(255,255,255,0.8);
    border-radius: 2rem;
    position: absolute;
    top: 30%;
    left: 44%;
}

.portfolio_gallery_text:hover .gallery_icon_container {
    visibility: visible;
}

.portfolio_gallery_text:hover i {
    visibility: visible;
}

/* tittle cards */
.portfolio_gallery_text h5 {
    visibility: hidden;
    padding-top: 25%;
    font-size: 1.1rem;
    vertical-align: middle;
    text-align: center;
}

.portfolio_gallery_text:hover h5 {
    visibility: visible;
}

/* text cards */
.portfolio_gallery_text > p {
    visibility: hidden;
    font-size: 0.8rem;
    vertical-align: middle;
    text-align: center;
}

.portfolio_gallery_text:hover > p {
    visibility: visible;
}

/* mask */
.gallery_mask:hover,
.gallery_mask:active {
    background-color: rgba(86, 198, 176,0.8);
}



/* Blog Section */

.blog_gallery_item .card:hover {
    background:url("/assets/images/hover-image.jpg");
    background-size: 100% auto;
    overflow: hidden;
    border: none;
    /* animation settings */
    background-position: 0 0;
    background-repeat: repeat;
    animation: blog_background_animated 5s linear infinite alternate;
}

.blog_gallery_item .card:hover h3 {
    color: rgba(86, 198, 176,0.8);
}

#blog .card-body{
    padding: 2rem;
}

.blog_gallery_text {
    font-size: 0.8rem;
    vertical-align: middle;
    text-align:left;
    color: rgba(0, 0, 0, 0.70);
}

.blog_gallery_item {
    padding: 1% 0;

}
/* animated blog section */
@keyframes blog_background_animated{
    from {
        background-position:  0 0;
    }
    to {
        background-position:  0 100%;
    }
}



/* questions section  */

.accordion-item {
    margin-bottom: 1%;
}

div .accordion-collapse{
    padding-bottom: 5%;
}

.question_text p {
    color: rgba(0, 0, 0, 0.70);
}

.accordion-item i {
    display: inline-block;
    vertical-align: top;   
    text-align: justify;
    padding: 0% 1%;
}

.accordion-item p {
    display: inline-block;
    vertical-align: top;   
    text-align: justify;
    padding: 0% 1%;
    margin-left: 3%;
}



/* testimonial section  */

.mobile_testimonial {
    display:none;
    visibility: hidden;
}

.pc_testimonial {
    display: flex;
}

.base_testimonial {
    display: flex;
}

#testimonial .container-fluid {
    padding: 0%;
    display: inline-block;
}
#testimonial .card {
    border: none;
}

.pc_testimonial .testimonial_text {
    padding: 0;
}

#testimonial .card-body {
    display: inline-block;
}

.card .testimonial_images {
    vertical-align: top;
    width: 3.5rem ; 
}

.testimonial_text {
    vertical-align: top;   
    text-align: left;
    font-size: 0.9rem;
    padding: 2% 0 0 2% !important;
}

.testimonial_text p {
    color: rgba(0, 0, 0, 0.70);
}


#testimonial .carousel-indicators li {
    font-size: 5rem;
    vertical-align: bottom;
    background-color: rgba(86, 198, 176,0.9);
    border-radius: 10rem ;
    border: 1px solid rgba(86, 198, 176,0.9);
    height: 0.5rem;
    width: 0.5rem;
}

#testimonial .carousel-indicators {
    top: 14rem;
}


/* contact section */

.contact_margin{
    text-align: center;
    vertical-align: middle;
}

.contact_button_ubication{
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    margin: auto;
}

.contact_button {
    background: rgba(86, 198, 176,0.9);
    border: 2px solid white;
    border-radius: 5px;
    padding: 1% 10%;
    margin: 5px;
    font-size: 1rem;
    text-decoration: none;
    color: white;
}

.contact_button_color:hover {
    animation: fadeoutBg3 3s;
}

/* hover color change animation */
@keyframes fadeoutBg3 {
    from { background-color: rgba(86, 198, 176,0.9);
        border-color: rgba(86, 198, 176,0.8);
        color: white; } /** from color **/
    to { background-color: white ;
        border-color: white;
        color: rgba(86, 198, 176,0.8); } /** to color **/
}



/* Footer section */

.footer_margin {
    padding: 4.5% 10% 4.5% 10%;
}

.footer_description {
    text-align: center;
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.70);
}

.footer_logo {
    display: inline-block;
    text-align: center;
    font-size: 2rem;
    margin: auto;
}

.footer_logo_container {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    margin: auto;
    width: 2rem;
    background: rgba(31,31,31,1);
    color: white;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin: 0 3.6% 1% 3.6%;
}

.footer_logo_icon {
    margin: auto;
    display: inline-block;
    text-align: center;
    justify-content: center;
    font-size: 1.3rem;
    vertical-align: text-bottom;
}

.footer_logo_container i {
    font-size: 1.05rem;
}