/* Global vars */
:root {
    /* another awuamarine rgb(125, 196, 148) */
    --aquamarine-bottom:  rgba(86, 198, 176,0.85);
    --aquamarine: rgb(86, 198, 176,1);
    --light-black: rgba(0, 0, 0, 0.70);
    --black: rgba(0,0,0,1);
    --transparent-black: rgba(0,0,0,0);
    --light-white: rgba(255, 255, 255, 0.85);
    --white: rgba(255,255,255,1);
    --orange: rgba(246, 162, 7, 0.8);
    --orange-border:  rgba(156, 102, 0, 1);
    --gray: rgba(255, 255, 255, 0.5);

}

/* media especififaction and font */
* {
    font-family: 'et-line', sans-serif ;
}
/* oxygen is better */
i.font-icons {
    font-family: icomoon;
}

i.font-icons-base {
    font-family: et-line;
}
/* to refresh the navigation bar using javascript */
body {
    position: relative;
}



/* General Clases */

.general-padding {
    /* is being used in services, team, about, portfolio, blog, questions, testimonial  */
    padding: 10% 10% 10% 10%;

}
.global-description {
    /* is being used in team, portfolio, blog, contact, questions, testimonial  */
    text-align: center;
}
    
.global-description > p {
    padding-bottom: 3rem;
    color: var(--light-black);
}

@media (max-width: 576px) { 
    .general-padding {
        /* is being used in services, team, about, portfolio  */
        padding: 20% 0%;
    }
}



/* home and carousel Section */

.carousel-tittle {
    font-size: 1.3rem;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 36%;
    left: 40%;
    translate: middle;
}

.carousel-tittle > p {
    padding: 2% 13%;
    font-size: 0.95rem;
    color: var(--light-white);
}

.carousel-inner {
    text-align: center;
    vertical-align: middle;
}

.home-button-ubication {
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    margin: auto;
}

.home-button {
    background: transparent;
    border: 0.2rem solid var(--white);
    border-radius: 0.3rem;
    padding: 1% 4%;
    margin: 0.4rem;
    font-size: 1rem;
    text-decoration: none;
    color: var(--white);
}

/* hover color change animation */
@keyframes fade-out-bg {
    from { background-color: var(--light-white);
            border-color:  var(--light-white);
            color: var(--aquamarine-bottom); } /** from color **/
    to { background-color: var(--aquamarine-bottom);
        border-color: var(--aquamarine-bottom);
        color: var(--white);} /** to color **/
}

/* active color change animation */
@keyframes fade-out-bg2 {
    from { background-color: var(--orange);
           border-color: var(--orange-border);
           color: var(--white);} /** from color **/
    to { background-color: var(--orange);
        border-color:  var(--orange-border);
        color: var(--white);} /** to color **/
}

.home-button:hover {
    animation: fade-out-bg 3s;
}

.home-button:active {
    animation: fade-out-bg2 2s;
}

/* trying to leave the orange background, after or visited clicking */
.home-button:focus {
    background-color:  var(--orange);
    border-color:  var(--orange-border); 
    color: var(--white);
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 576px) { 
    #carousel-example-slides-only .carousel-tittle {
        top: 5% ;
        left: 5% ;
        right: 5%;
    }
    .carousel-tittle h1 {
        text-align: center;
    }
    .carousel-tittle > p {
        padding: 2% 0% ;
        text-align: center;
        font-size: 1.1rem;
    }
    .carousel-inner .btn2 {
        display: none;
    }
}
/* X-mid devices (tablet, less than 767px) */
@media (min-width: 576.01px) and (max-width: 768px) { 
    .carousel-tittle {
        top: 30%;
        font-size: 0.85rem;
    }
    .carousel-tittle > p {
        padding: 2% 0%;
    }
}



/* Navbar Section */

.nav-item {
    font-size: 0.8rem;
    font-weight: bolder;
    text-align: center;
}

.navbar{
    width: 100%;
}

#navigation-bar {
    width: 100%;
    position: sticky;
    top: 0;
    padding: 0% 10% 0% 10%;
    z-index: 101;
    box-shadow: 0 0 0.04rem 0 var(--light-black);
    shape-margin: 100%;
    background-color: var(--white);
}

#navigation-bar .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' %3e%3cpath stroke='rgba(125, 196, 148, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); 
}

#navigation-bar .navbar-light .navbar-toggler {
    color:  var(--aquamarine) ;
    border-color: var(--transparent-black);
}

#navigation-bar .container-fluid a:hover,
#navigation-bar .container-fluid a:active {
    color: var(--aquamarine);
}

/* Instruction to change the color when we scroll*/
#navigation-bar .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: var(--aquamarine);
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 576px) { 
    #navigation-bar {
        padding: 0% 0%;
    }
}
/* X-mid devices (tablet, less than 767px) */
@media (min-width: 576.01px) and (max-width: 768px) { 
    .nav-item {
        font-size: 0.5rem;
        font-weight: bolder;
        text-align: center;
    }
}



/* Services Section */

.services-articles i {
    font-size: 2rem;
}

.service-logo {
    display: inline-block;
    vertical-align: top;
}

.services-articles-text {
    display: inline-block;
    vertical-align: top;
}

.services-articles-text p {
    margin-top: 1rem;
    color: var(--light-black);
}

.services-articles-text b {
    color: var(--aquamarine);
}

.service-logo img {
    width: 100%;
    vertical-align: top;
    background: transparent;
}



/* About Section */

.about-video {
    background-size: center/cover;
}

.jumbotron {
    z-index: 1;
    width: 100%;
    height: 100%;
    shape-margin: 100%;
}

.about-text > p {
    padding: 1rem 1rem 0 0;
    color: var(--light-black);
}



/* Team Section */

#team .card {
    border: none;
}

.row .team-gallery-item {
    background: center/cover;
    background-color: var(--white);
}

.team-gallery-text {
    padding-top: 5%;
    text-align: center;
}  

.team-gallery-text p {
    color: var(--light-black);
}  

.team-gallery-item .overlay {
    position: absolute; 
    bottom: 20%; 
    background: var(--black);
    background: var(--gray); /* Black see-through */
    color: var(--white); 
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: var(--black);
    padding: 1rem;
    text-align: center;
  }
  
.plus:hover .overlay {
    opacity: 1;
    transition-delay: 0.33s;
}

.team-logo i{
    display: inline-block;
    text-align: center;
    font-size: 2rem;
    margin: auto;
}
/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 576px) { 
    .row .team-gallery-item{
        padding-bottom: 5%;
    }
}



/* Portfolio Section */

.portfolio-gallery .row{
    padding: 1.3rem 0;
}

.portfolio-gallery-item{
    padding: 1% 0;
}

.portfolio-gallery-text {
    padding: 0;
    vertical-align: middle;
    text-align: center;
}

/* icon cards */
.portfolio-gallery-text i{
    font-size: 1rem;
    color: var(--aquamarine);
    margin: auto;
    z-index: 2;
    vertical-align: bottom;
    text-align: center;
    transform: rotate(90deg);
}

.gallery-circle-container{
    height: 30%;
}

.gallery-icon-container{
    visibility: hidden;
    margin: auto;
    width: 2rem;
    height: 2rem;
    background: var(--light-white);
    border-radius: 2rem;
    position: absolute;
    top: 30%;
    left: 44%;
}

.portfolio-gallery-text:hover .gallery-icon-container {
    visibility: visible;
}

.portfolio-gallery-text:hover i {
    visibility: visible;
}

/* tittle cards */
.portfolio-gallery-text h5 {
    visibility: hidden;
    padding-top: 25%;
    font-size: 1.1rem;
    vertical-align: middle;
    text-align: center;
}

.portfolio-gallery-text:hover h5 {
    visibility: visible;
}

/* text cards */
.portfolio-gallery-text > p {
    visibility: hidden;
    font-size: 0.8rem;
    vertical-align: middle;
    text-align: center;
}

.portfolio-gallery-text:hover > p {
    visibility: visible;
}

/* mask */
.gallery-mask:hover,
.gallery-mask:active {
    background-color: var(--aquamarine-bottom);
}
/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 576px) { 
    .portfolio-gallery-item {
        padding-bottom: 3%;
    }
}



/* Blog Section */

.blog-gallery-item .card:hover {
    background:url("/assets/images/hover-image.jpg");
    background-size: 100% auto;
    overflow: hidden;
    border: none;
    /* animation settings */
    background-position: 0 0;
    background-repeat: repeat;
    animation: blog-background-animated 5s linear infinite alternate;
}

.blog-gallery-item .card:hover h3 {
    color: var(--aquamarine-bottom);
}

#blog .card-body{
    padding: 2rem;
}

.blog-gallery-text {
    font-size: 0.8rem;
    vertical-align: middle;
    text-align:left;
    color: var(--light-black);
}

.blog-gallery-item {
    padding: 1% 0;

}
/* animated blog section */
@keyframes blog-background-animated{
    from {
        background-position:  0 0;
    }
    to {
        background-position:  0 100%;
    }
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 576px) { 
    #blog .card-body {
        padding: 2.6rem;
    }
    #blog .blog-gallery-item {
        padding-bottom: 3%;
    }
}



/* questions section  */

.accordion-item {
    margin-bottom: 1%;
}

div .accordion-collapse{
    padding-bottom: 5%;
}

.question-text p {
    color: var(--light-black);
}

.accordion-item i {
    display: inline-block;
    vertical-align: top;   
    text-align: justify;
    padding: 0% 1%;
}

.accordion-item p {
    display: inline-block;
    vertical-align: top;   
    text-align: justify;
    padding: 0% 1%;
    margin-left: 3%;
}



/* testimonial section  */

.mobile-testimonial {
    display:none;
    visibility: hidden;
}

.pc-testimonial {
    display: flex;
}

.base-testimonial {
    display: flex;
}

#testimonial .container-fluid {
    padding: 0%;
    display: inline-block;
}
#testimonial .card {
    border: none;
}

.pc-testimonial .testimonial-text {
    padding: 0;
}

#testimonial .card-body {
    display: inline-block;
}

.card .testimonial-images {
    vertical-align: top;
    width: 3.5rem ; 
}

#testimonial .testimonial-text {
    vertical-align: top;   
    text-align: left;
    font-size: 1rem;
    padding: 2% 0 0 2%;
}

.testimonial-text p {
    color: var(--light-black);
}


#testimonial .carousel-indicators li {
    font-size: 5rem;
    vertical-align: bottom;
    background-color: var(--aquamarine);
    border-radius: 10rem ;
    border: 0.1rem solid var(--aquamarine);
    height: 0.5rem;
    width: 0.5rem;
}

#testimonial .carousel-indicators {
    top: 14rem;
}

.specific-padding {
    /* is being used in testimonial */
    margin-bottom: 5%;
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 576px) { 
    #testimonial .carousel-indicators {
        top: 16rem;
    }
    .pc-testimonial {
        display: none;
    }
    .mobile-testimonial {
        display: flex;
        visibility: visible;
    }
    .specific-padding {
        /* is being used in testimonial */
        margin-bottom: 15%;
    }
}

/* X-mid devices (tablet, less than 767px) */
@media (min-width: 576.01px) and (max-width: 768px) { 
    .testimonial-text {
        font-size: 1rem;
    }
    #testimonial .carousel-indicators {
        top: 20rem;
    }
    .specific-padding { 
        /* is being used in testimonial */
        margin-bottom: 7%;
    }
    
}

/* contact section */

.contact-margin{
    text-align: center;
    vertical-align: middle;
}

.contact-button-ubication{
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    margin: auto;
}

.contact-button {
    background: var(--aquamarine);
    border: 0.2rem solid white;
    border-radius: 0.5rem;
    padding: 1% 10%;
    margin: 0.5rem;
    font-size: 1rem;
    text-decoration: none;
    color: var(--white);
}

.contact-button-color:hover {
    animation: fade-out-bg3 3s;
}

/* hover color change animation */
@keyframes fade-out-bg3 {
    from { background-color: var(--aquamarine);
        border-color: var(--aquamarine);
        color: var(--white); } /** from color **/
    to { background-color: var(--white) ;
        border-color: var(--white);
        color: var(--aquamarine); } /** to color **/
}



/* Footer section */

.footer-margin {
    padding: 4.5% 10% 4.5% 10%;
}

.footer-description {
    text-align: center;
    vertical-align: middle;
    color: var(--light-black);
}

.footer-logo {
    display: inline-block;
    text-align: center;
    font-size: 2rem;
    margin: auto;
}

.footer-logo-container {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    margin: auto;
    width: 2rem;
    background: var(--black);
    color: var(--white);
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin: 0 3.6% 1% 3.6%;
}

.footer-logo-icon {
    margin: auto;
    display: inline-block;
    text-align: center;
    justify-content: center;
    font-size: 1.3rem;
    vertical-align: text-bottom;
}

.footer-logo-container i {
    font-size: 1.05rem;
}